/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.margin_top{
  margin-top: 80px;
}

.hero-spacer{
  background-color: #CACFD6;
}

.card-container {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 50px;
}

.card {
  margin: 30px;
}

.newsletter-container {
  background: #D7E1E5;
  padding: 50px 50px;
  margin-top: 70px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-family: 'josefin-slab';
  font-size: 24px;
  line-height: 1.2;
  color: #CCCCCC;
}

p {
  font-family: 'open-sans';
  font-size: 14px;
}