/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper {
    padding: 50px;
    margin: 0 auto;
}

@media only screen and (max-width:768px){
    .container{
        width:100%;
     }
}
@media only screen and (min-width:768px){
    .container{
        width:50%;
     }
}

.img-card {
  border-radius: 10px;
}

.newsletter-container {
  background: #D7E1E5;
  padding: 50px;
  margin-top: 70px;
}

.attachinary_container ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  color: #CCCCCC;
}

p {
  font-size: 14px;
}