<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.unsplash.it/500/300');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%=space.name%></h2>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
