<div class="card col-xs-12 col-sm-3 padded">
  <h3><%= link_to space.name, space_path(space) %></h3> 

  <img class="img-responsive">
    <% unless space.photo.nil? %>
      <%= cl_image_tag space.photo.path, :width => :auto, 
  :responsive_placeholder => "blank", crop: :fill %>
    <% end %>
</div>
