<div class="wrapper">
<h1 class="text-center">My Spaces</h1>

<div class="container-fluid text-center padded">
  <div class="row">
    <% @spaces.each do |i| %>
    <% if i.user_id == current_user.id %>
      <%= render i %>
    <% end %>
  <% end %>
  </div>
 </div>
</div>