<h1 class="text-center">My Spaces</h1>

<div class="card-container">
  <div class="row">
    <% @spaces.each do |i| %>
      <% if i.user_id == current_user.id %>
        <%= render i %>
      <% end %>
    <% end %>
  </div>
</div>
