<h1 class="padded text-center">New Spaces</h1>
<div class="card-container">
  <%= render @spaces %>
</div>

<div class="container padded">
  <%= link_to 'Add Space',  new_space_path, class: "btn btn-primary" %>
</div>
