<h1 class="text-center padded">New Space</h1>

<%= render 'form' %>

<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV['GOOGLE_API_AUTOCOMPLETE_KEY']}" %>
<% end %>

<%= link_to 'Back', spaces_path %>
