<div class="container margin_top">
  <h2>Add new booking</h2>

  <form action="/spaces/<%=@space.id%>/bookings" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
              <input type='text' class="form-control" name="booking[start_date]"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" name="booking[end_date]"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <input type="hidden" name="booking[space_id]" value= <%=@space.id%> >
    <input type="hidden" name="booking[user_id]" value= <%=current_user.id%> >
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>


<script>
    $(document).ready(function () {
      $('#datetimepicker6').datetimepicker({
        format: 'DD/MM/YYYY HH:00'
      });
      $('#datetimepicker7').datetimepicker({
        useCurrent: false,
        format: 'DD/MM/YYYY HH:00'
              });
      $("#datetimepicker6").on("dp.change", function (e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
    });
</script>

