<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>CoDesk</h3>
                    <p>Where anyone can book a desk, an office or a meeting room anywhere in the world.</p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Locations </h3>
                    <ul>
                        <li><a href="#">Lisbon </a></li>
                        <li><a href="#">Porto </a></li>
                        <li><a href="#">Braga </a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Concept </a></li>
                        <li><a href="#">Team</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">CoDesk © 2017</p>
        </div>
    </footer>
</div>