<div class="card-container padded text-center">
  <h1>Spaces that are trending</h1>
  <%= render @spaces %>
</div>

        <!-- Newsletter -->
<div class="newsletter-container">      
    <div class="intro">
        <h1 class="text-center">Find new places </h1>
        <p class="text-center">Get weekly briefings with the latest spaces every week. </p>
    </div>

    <form class="form-inline text-center" method="post">
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Your Email">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Subscribe </button>
        </div>
    </form>
</div> 
