<h1 class="padded text-center">Spaces that are trending</h1>
<div class="container-fluid text-center padded">
  <div class="row">
    <%= render @spaces %>
  </div>
</div>

<div id="map"></div>

<% content_for(:after_js) do %>
  <script type = "text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');

      var styles = [
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e0efef"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 700
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7dcdcd"
            }
        ]
    }
];

console.log(styles);

      handler.buildMap({
        provider: {
          styles: styles
        },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>

        <!-- Newsletter -->
<div class="newsletter-container">      
    <div class="intro">
        <h1 class="text-center">Find new places </h1>
        <p class="text-center">Get weekly briefings with the latest spaces every week. </p>
    </div>

    <form class="form-inline text-center" method="post">
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Your Email">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Subscribe </button>
        </div>
    </form>
</div> 
