<!-- Page Content -->
<div class="container margin_top">

    <!-- Cards -->
    <div class="container">
        <h2 class="text-center">New spaces</h2>
        
        <div class="row">
            <%= @spaces.each do |s| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
                <div class="card-category"> <%= s.city %></div>
                <div class="card-description">
                <h3><%= link_to s.name, space_path(s) %></h3>
                <% end %>
            </div>
        </div>
    </div>


    <!-- Newsletter -->
    <div class="container">
        <div class="newsletter-subscribe">

            <div class="intro">
                <h2 class="text-center">Find new places </h2>
                <p class="text-center">Get weekly briefings with the latest spaces every week. </p>
            </div>

            <form class="form-inline" method="post">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Your Email" />
                </div>

                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Subscribe </button>
                </div>
            </form>

        </div>
    </div>

</div>
