<div class="wrapper-grey">
  <div class="container padded">
    <h2 class="text-center">Spaces</h2>
    
    <div class="row">
      <div class="col-xs-12 col-sm-4">

        <% @space.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        
          <h3><%= link_to s.name, space_path(s) %></h3> 
          <div class="card-city"><%= s.city %></div> 
    
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path s.photo.path, width: 400, crop: :fill %>')"> -->